.hero {
  background-image: url("https://res.cloudinary.com/dkbvm5myl/image/upload/v1621000108/upn4jy3984k6lzwkr868qpu08wo8.jpg");
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: white;
  text-transform: uppercase;
  text-align: center;

  h1 {
    font-size: 3rem;
    opacity: 0;
    transform: translateX(-200%);
    transition-duration: 1s;
  }
  p {
    font-size: 2rem;
    opacity: 0;
    transition-duration: 1s;
  }
}

.admin-button {
  position: fixed;
  text-transform: uppercase;
  bottom: 10px;
  left: 10px;
  background-color: gold;
  line-height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  color: white;
  text-decoration: none;
  box-shadow: 3px 5px 10px rgba(230, 230, 230, 1);
  transition: all 0.3s;

  &:hover {
    background-color: white;
    color: gold;
    border: 0.5px black solid;
  }
}
