<% if !flash.empty? && flash[:error].present? %>
  <div class="alert">
    <% flash[:error].full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>
<% if notice %>
  <div class="notice">
    <p><%= notice %></p>
  </div>
<% end %>
