<header>
  <a href="#" class="logo">
    Anna Mérimée
  </a>
  <% if params[:action] != "new" %>
    <%= link_to "Ajouter", nouvelle_oeuvre_path, class: "add-oeuvre-button custom-button" %>
  <% end %>
</header>
