<div class="container">
  <div class="cards">
    <% @oeuvres.each do |oeuvre| %>
      <div class="card">
        <% if oeuvre.photo.attached? %>
          <%= cl_image_tag oeuvre.photo.key, width: 300 %>
        <% end %>
        <h2><%= oeuvre.nom %></h2>
        <div class="card-info">
          <p><%= oeuvre.categorie %></p>
          <p><%= oeuvre.prix %>€</p>
        </div>
        <% if oeuvre.disponible %>
          <div class="badge badge-disponible">Disponible</div>
        <% else %>
          <div class="badge badge-vendu">Vendu</div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
