.carousel {
  display: flex;
  align-items: center;
}

.carousel-image-container {
  position: absolute;
  width: 90vw;
  margin: 5vw;
}

.carousel-image {
  height: 290px;
  width: 100%;
  object-fit: cover;
  transition: all 1s ease-in;
}

@media (min-width: 768px) {
  .carousel-image {
    height: 500px;
  }
}

.before {
  transform: translateX(1000px);
}

.next {
  transform: translateX(-1000px);
}
