.container {
  width: 300px;
  margin: auto;
}

.wrapper {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    width: 500px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 700px;
    margin: auto;
  }
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.d-none {
  display: none;
}

.flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

.mx-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
