.container {
  width: 300px;
  margin: auto;
}

.wrapper {
  min-height: calc(100vh - 100px);
}

@media (min-width: 768px) {
  .container {
    width: 500px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 700px;
    margin: auto;
  }
}

.text-center {
  text-align: center;
}
