.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;

  svg {
    font-size: 2rem;
  }
}

.filters-list {
  display: flex;
  overflow: hidden;
  position: relative;
  list-style: none;
  padding-left: 0;
  justify-content: space-evenly;
}

.filter {
  position: absolute;
  right: -200%;
  width: 200px;

  button {
    font-size: 1.4rem;
  }
}

.category-active {
  position: inherit;
  right: 0;
}

.disponible-filter-on {
  background-color: rgba(167, 163, 132, 1);
  color: white;
}

@media (min-width: 768px) {
  .filter {
    position: inherit;
    right: inherit;
  }

  .filters-container svg {
    display: none;
  }

  .category-active button {
    text-decoration: underline;
  }
}

// WORKED FOR COMPUTER SCREEN SIZE
// .filters-list {
//   display: flex;
//   list-style: none;
//   padding-left: 0;
//   justify-content: space-evenly;
// }
