header {
  display: flex;
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #fffffb;
  border-bottom: 0.2px #a7a384 solid;
}

nav {
  height: 100%;
}

.logo {
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  white-space: nowrap;
  align-self: center;

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.logo-admin {
  padding-right: 50px;
}

.menu-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  background-color: white;
  z-index: 4;

  ul {
    text-align: center;
    height: 100%;
    padding-left: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.4rem;
  }
}

.hamburger {
  position: absolute;
  right: 5px;
  height: 100%;
  width: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  i {
    font-size: 2rem;
  }

  &:focus + .menu-container {
    transform: translateX(0);
  }
}

.close-modal {
  position: absolute;
  right: 11px;
  top: -11px;
  font-size: 3.5rem;
}

@media (min-width: 768px) {
  .logo {
    width: fit-content;
    position: inherit;
    white-space: nowrap;
    padding-left: 1rem;
  }

  .hamburger {
    display: none;
  }

  .menu-container {
    position: inherit;
    height: inherit;
    width: inherit;
    transform: none;
    border: none;
    background: none;

    ul {
      flex-direction: inherit;
      align-items: center;
      padding-left: 1rem;
    }
  }

  .close-modal {
    display: none;
  }
}

.underline {
  text-decoration: underline;
}
