.notice {
  position: fixed;
  bottom: 20px;
  width: 100vw;

  p {
    width: fit-content;
    margin: auto;
    padding: 4px 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 1px;
    color: seagreen;
    border: seagreen 1px solid;
  }
}
